@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  margin-top: 92px;
}
a {
  text-decoration: none;
  color: white;
}
body {
  margin: 92px 0 0 0;
  color: #333;
  background: linear-gradient(
    90deg,
    rgba(237, 255, 255, 1) 0%,
    rgba(239, 253, 255, 1) 100%
  );
  width: 100%;
  font-family: Zen Kaku Gothic New;
  overflow: auto;
}

#navMenu {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 10px 0;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(69, 242, 255, 1) 0%,
    rgba(77, 149, 255, 1) 53%,
    rgba(173, 241, 255, 1) 99%
  );
}
#sideMenuButton {
  position: fixed;
  font-size: 50px;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 50px;
}
#sideMenu {
  height: 100%;
  width: 250px;
  position: fixed;
  background: linear-gradient(
    90deg,
    rgba(69, 242, 255, 1) 0%,
    rgba(77, 149, 255, 1) 53%,
    rgba(173, 241, 255, 1) 99%
  );
}

.sideMenuLinks {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

#sideMenu .closeButton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.rowSplit {
  display: flex;
  margin-bottom: 10px;
}
.halfSplit {
  flex: 50%;
  min-width: 50%;
  margin: 0 15px;
}

.halfSplit h3 {
  text-align: center;
  font-weight: 700;
  color: #333;
}
.threeCol {
  flex: 33%;
  min-width: 33%;
  font-size: 14px;
  text-align: center;
  margin-right: 2px;
  margin-left: 2px;
}

.smlRightCol {
  flex: 0 0 45%;
  max-width: 45%;
}

.smlRightCol > img {
  max-width: 75%;
}
.bigLeftCol {
  flex: 0 0 55%;
  max-width: 55%;
}

#introSection {
  background-color: rgba(173, 241, 255, 1);
  padding: 64px 60px 64px;
}
.introMessage span {
  color: aqua;
  font-weight: 900;
}
.introMessage {
  text-align: left;
  font-weight: 700;
  font-size: 40px;
  color: #333;
  font-family: Zen Kaku Gothic New;
  background: white;
  padding: 1px 16px;
  border-radius: 10px;
}

.introFeature {
  margin: 24px 0 56px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.introFeaturePoint {
  border-radius: 50%;
  background: rgba(69, 242, 255, 1);
  color: #fff;
  width: 100px;
  height: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introImgContainer img {
  border-radius: 10px;
  width: 95%;
}
.lineContact {
  padding: 10px 15px;
}

.lineButton {
  background-color: green;
  padding: 30px 45px;
  text-align: center;
  font-weight: 700;
  color: white;
  border-radius: 40px;
}
#serviceSection,
#ownerSection {
  margin: 10px 15px;
}
#serviceSectionContainer,
#locationDetailContainer,
#ownerSectionContainer {
  background-color: white;
  padding: 10px 40px;
  border-radius: 40px;
  margin: 0 0 10px 0;
}
.pageContainer {
  padding: 0 20px;
  margin: 10px 0;
  position: relative;
  overflow: auto;
}
.pageContainer h2 {
  padding: 54px 0 10px;
  text-align: center;
}

.pageDescription {
  text-align: center;
}
#serviceSectionContainer h2,
#ownerSectionContainer h2,
#locationSectionContainer h2 {
  padding: 104px 0 72px;
  text-align: center;
}
#locationDetailContainer h3,
#ownerSectionContainer h3 {
  font-size: 28px;
  font-weight: 700;
}

#locationDetailContainer > .halfSplit > b {
  color: rgb(130 180 254);
  font-weight: 700;
  font-size: 20px;
}
.subHeader {
  color: rgba(69, 242, 255, 1);
  font-weight: 700;
}
.errorMsg {
  color: red;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}
#submitButton {
  background-color: rgb(130 180 254);
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
}

#submitButton:disabled {
  filter: brightness(0.8);
  cursor: not-allowed;
}
.mainHeader {
  font-family: Zen Kaku Gothic New;
  font-size: 36px;
  font-weight: 700;
}

.imgBox {
  width: 100%;
}

.imgResponsive {
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
}

.formArea {
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 20px 25px 10px 25px;
  overflow: none;
}

form,
input,
label,
textarea,
.inputTable {
  width: 100%;
}

.addRowContainer {
  margin: 10px 0;
  text-align: center;
}

.addRowButton {
  background-color: rgba(69, 242, 255, 1);
  color: #333;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
label {
  font-weight: 800;
}
input,
textarea {
  background-color: whitesmoke;
  margin: 5px 10px;
}

.formSelection > input#status {
  width: 30%;
}
.formSelection > label {
  width: 70%;
}
@media screen and (max-width: 700px) {
  #serviceSectionContainer h2,
  #ownerSectionContainer h2,
  #locationSectionContainer h2,
  .pageContainer h2 {
    padding: 5px 0 5px;
    text-align: center;
  }
  #introSection {
    padding: 20px 12px 56px;
  }
  .rowSplit {
    flex-direction: column;
  }
  .threeCol,
  .smlRightCol,
  .bigLeftCol {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }
  .lineButton {
    font-size: 14px;
    padding: 15px;
    margin: 5px 1px;
  }

  .lineContact {
    padding: 0;
    display: flex;
    justify-content: center;
  }
  #ownerSectionContainer h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0;
  }
  .subHeader {
    color: rgba(69, 242, 255, 1);
    font-weight: 700;
    font-size: 16px;
  }

  .mainHeader {
    font-family: Zen Kaku Gothic New;
    font-size: 26px;
    font-weight: 700;
  }
  .errorMsg {
    font-size: 14px;
  }
  .imgResponsive {
    width: 45%;
  }
}
